router id {{ as_id }};
log syslog all;

protocol kernel {
  persist;
  scan time 30;
  import all;
  export all;
}

protocol bgp {
  local as {{ asn }};
  neighbor {{ neighbor_ip }} as {{ neighbor_asn }};
  graceful restart;
  import all;
  export all;
}

protocol device {
  scan time 30;
}

{{ edge1_static_routes }}

