router id {{ as_id }};
log syslog all;

protocol kernel {
  persist;
  scan time 10;
  import all;
  export all;
}

protocol bgp {
  local as {{ asn }};
  neighbor {{ bird_neighbor_ip }} as {{ bird_neighbor_asn }};
  graceful restart;
  import all;
  export all;
}

{{ edge1_spine1_bgp }}

protocol device {
  scan time 10;
}

protocol direct {
  interface "*";
}

{{ edge1_static_routes }}

